<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaVotacion.Properties.Settings.SistemaVotacionConnectionString"
            connectionString="Data Source=LAPTOP-0NPRRT60\SQLEXPRESS;Initial Catalog=SistemaVotacion;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>